---
import BaseLayout from "../layouts/BaseLayout.astro";
import Item from "../components/Articleitem.astro";
---

<BaseLayout>
    <div class="title blog">
        <p>BLOG</p>
    </div>
    <div class="content-part">
        <div class="container">
            <!-- <Item
                title="None"
                date="20xx.xx.xx"
                img="none.webp"
                link="#"
            />
            <Item
                title="None"
                date="20xx.xx.xx"
                img="none.webp"
                link="#"
            />-->
            <Item
                title="まずは解体からです。"
                date="2024.9.20"
                img="article02/01.webp"
                link="article02"
            />
            <Item
                title="始まります。"
                date="2024.9.11"
                img="article01/01.webp"
                link="article01"
            />
        </div>
    </div>
    <hr />
</BaseLayout>

<style>
    .blog {
        background: url(/images/blog_page/blog.webp) no-repeat center center;
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }
</style>

<script src="/js/fadein.js" defer></script>
