---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <div class="concept_title title">
        <p>CONCEPT</p>
    </div>

    <div class="content-part">
        <div class="concept">
            <h1>【Life In Surburds】 郊外での豊かな暮らし。</h1>
            <p>
                郊外での豊かな暮らしをテーマに、
                家族の成長とともに柔軟性が高く多様性のあるライフスタイルを提案します。
            </p>

            <div class="theme">
                <h1>- Design Concept -</h1>
            </div>

            <div class="DC_container">
                <div class="DC_container_items">
                    <img
                        src="/images/concept_page/design_concept/margin.webp"
                        alt="画像の詳細"
                        loading="lazy"
                    />
                    <div>
                        <h1>01. ゆとりある生活は余白のあるデザインから。</h1>

                        <p>
                            外観、内装ともに、何もないシンプルな壁面を残すことを意識。シンプルなキューブ型の建物には、シンボルツリーの緑が映えます。内装は間仕切りの壁や建具を極力減らし、空間をいかに美しく見せるかにこだわっています。
                        </p>
                    </div>
                </div>
                <div class="DC_container_items">
                    <img
                        src="/images/concept_page/design_concept/material.webp"
                        alt="画像の詳細"
                        loading="lazy"
                    />
                    <div>
                        <h1>
                            02. シンプルな中に本物の素材が映える質の高い空間。
                        </h1>

                        <p>
                            シンプルなつくりであるからこそ、使われている素材が上質であると圧倒的違いが光ります。フローリングは無垢挽板を使うことで本物の木の質感をたっぷりと感じられます。経年変化や使用感も本物だからこそお楽しみいただけます。
                        </p>
                    </div>
                </div>
                <div class="DC_container_items">
                    <img
                        src="/images/concept_page/design_concept/wall.webp"
                        alt="画像の詳細"
                        loading="lazy"
                    />
                    <div>
                        <h1>03. 職人の丁寧な仕上げから感じられるぬくもり。</h1>

                        <p>
                            白い壁をベースにして、リビングのTV面、キッチンの腰壁などに表情の変化が出るモールテックスを。職人が施す左官仕上げの壁の陰影からは、既製品とは違うあたたかさと落ち着きを感じます。
                        </p>
                    </div>
                </div>

                <div class="DC_container_items">
                    <img
                        src="/images/concept_page/design_concept/storage.webp"
                        alt="画像の詳細"
                        loading="lazy"
                    />
                    <div>
                        <h1>04. 使いやすく美しい壁面収納。</h1>

                        <p>
                            必要な場所に必要な大きさの収納があれば、自然と部屋は片付きます。単に大きな収納があるより暮らしの導線を考え、限られたスペースを有効活用し、なおかつ美しく収納できる使い方をご提案します。
                        </p>
                    </div>
                </div>

                <div class="DC_container_items">
                    <img
                        src="/images/concept_page/design_concept/lighting.webp"
                        alt="画像の詳細"
                        loading="lazy"
                    />
                    <div>
                        <h1>05. スタイルに合わせた照明器具。</h1>

                        <p>
                            空間に深みを持たせてくれる照明器具は、ご家族の個性やインテリアスタイルに合わせてセレクトしています。オリジナルのトグルスイッチやスイッチプレートなど、細部にこそこだわりを。
                        </p>
                    </div>
                </div>

                <div class="DC_container_items">
                    <img
                        src="/images/concept_page/design_concept/equipment.webp"
                        alt="画像の詳細"
                        loading="lazy"
                    />
                    <div>
                        <h1>06. デザインと性能、どちらにもこだわりを。</h1>

                        <p>
                            便利な機能や設備にはリモコンがつきもの。無機質なプラスチック製品が表に出てくるとせっかくのデザインに生活感が。そこで、上手にフォローするニッチ収納を。細かな部分ですが、大切にしたい要素です。
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr />
    </div>

    <style>
        .concept_title {
            background: url(images/concept_page/concept.webp) no-repeat center
                center;
            background-size: cover;
            background-position: center;
            overflow: hidden;
        }
        .concept {
            margin-top: 10%;
            margin-bottom: 20%;
        }
        .concept h1 {
            text-align: center;
            font-weight: bold;
            font-size: 30px;
        }
        .concept p {
            text-align: center;
            font-size: 20px;
            margin-top: 3%;
        }
        .theme h1 {
            text-align: center;
            margin-top: 10%;
            margin-bottom: 5%;
            font-weight: bold;
            font-size: 40px;
        }
        .DC_container_items {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        .DC_container_items h1 {
            text-align: left;
            margin-left: 5%;
            margin-bottom: 5%;
            font-size: 24px;
        }
        .DC_container_items img {
            margin-bottom: 20%;
        }
        .DC_container_items p {
            margin-left: 5%;
            text-align: left;
            margin-bottom: 10%;
            font-size: 18px;
        }
    </style>

    <script src="/js/fadein.js" defer></script>
</BaseLayout>
