---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <div class="title orderflow">
        <p>ORDER FLOW</p>
    </div>

    <div class="order_content">
        <div class="orderstep">
            <div class="step-left">
                <h1>step1</h1>
                <p>初回打ち合わせ</p>
            </div>
            <h2>
                初回の打ち合わせでは、基本的な要素の確認となります。家族構成・ライフスタイル・好きな家、嫌いな家・間取り・時期・予定地・ご予算・などをお聞かせください。イメージ写真などあれば共有させて頂きます。
            </h2>
        </div>

        <div class="orderstep">
            <div class="step-left">
                <h1>step2</h1>
                <p>敷地調査</p>
            </div>
            <h2>
                土地が決まると、役所への確認と同時に敷地へ調査に伺います。周辺の環境等も考慮してプランニングしていきます。
            </h2>
        </div>

        <div class="orderstep">
            <div class="step-left">
                <h1>step3</h1>
                <p>間取りのご提案</p>
            </div>
            <h2>
                図面をもとに、今までの施工事例等を見ながら、間取りを考えていきます。現場見学などもご案内し、納得のプランができるまで打合せを重ねます。
            </h2>
        </div>

        <div class="orderstep">
            <div class="step-left">
                <h1>step4</h1>
                <p>プラン決定・見積もり作成</p>
            </div>
            <h2>
                プランがおおよそ決まると、それぞれの工事ごとに見積りをしていきます。ご計画全体の工事総額をご提示します。
            </h2>
        </div>

        <div class="orderstep">
            <div class="step-left">
                <h1>step5</h1>
                <p>住宅ローン資金計画</p>
            </div>
            <h2>
                間取りと同時に、全体の予算の目安をたて、住宅ローンや自己資金に応じて支払方法の選定をしていきます。
            </h2>
        </div>

        <div class="orderstep">
            <div class="step-left">
                <h1>step6</h1>
                <p>住宅工事へのご契約</p>
            </div>
            <h2>
                建物の内容や資金計画にご納得頂けましたら、請負契約書を交わしていきます。
            </h2>
        </div>

        <div class="orderstep">
            <div class="step-left">
                <h1>step7</h1>
                <p>細かい仕様の打ち合わせ</p>
            </div>

            <h2>
                外装・内装仕上げ材や細かい設備仕様を決めていきます。イメージ写真等をお持ち頂き共有します。この段階で決定するのではなく、建設中に実際の現場を見ながら決定していきます。
            </h2>
        </div>

        <div class="orderstep">
            <div class="step-left">
                <h1>step8</h1>
                <p>地鎮祭</p>
            </div>
            <h2>
                建築工事の前に行う儀式で、土地の神様を祝い鎮める神事となります。工事の安全と家の繁栄を祈願し致します。
            </h2>
        </div>
        <div class="orderstep">
            <div class="step-left">
                <h1>step9</h1>
                <p>地盤調査保険</p>
            </div>
            <h2>
                当社では全棟で工事前の地盤調査を行います。地盤調査データを基に必要に応じた地盤改良工法を選定し、地盤改良工事を行うことで全棟に地盤補償保険を付保することができます。
            </h2>
        </div>

        <div class="orderstep">
            <div class="step-left">
                <h1>step10</h1>
                <p>基礎工事・配筋検査</p>
            </div>
            <h2>
                基礎工事が始まり鉄筋が組み終わると、性能保証会社と県による配筋検査を受けます。配筋の数・長さ・鉄筋の太さ等の検査を受け配筋検査合格後、基礎コンクリート打設します。
            </h2>
        </div>

        <div class="orderstep">
            <div class="step-left">
                <h1>step11</h1>
                <p>上棟・躯体（金物）検査</p>
            </div>
            <h2>
                上棟に際し、お客様の意向で上棟式を行ないます。
                上棟後再び性能保証会社と県による金物検査を行い、間違いなく金物が固定されていることを確認してから工事を進めていきます。
            </h2>
        </div>

        <div class="orderstep">
            <div class="step-left">
                <h1>step12</h1>
                <p>現場での打ち合わせ</p>
            </div>
            <h2>
                工事中、何度か現地にお越しいただき、実際に出来上がった家を見ながら、図面上で打合せしていた仕様が本当に使いやすいか等を再確認します。特に窓の高さ・棚の高さ・スイッチやコンセントの位置等図面では分かりにくい細かい部分の確認をさせて頂きます。
            </h2>
        </div>

        <div class="orderstep">
            <div class="step-left">
                <h1>step13</h1>
                <p>完了検査</p>
            </div>

            <h2>
                建築確認申請の図面と建物が一致しているか、必要な設備が適切に施行されているか等の検査を受けます。性能保証会社と県による合格後、検査済証が発行されます。
            </h2>
        </div>

        <div class="orderstep">
            <div class="step-left">
                <h1>step14</h1>
                <p>建物登記・外構工事</p>
            </div>

            <h2>
                法務局への建物不動産登記を行います。外構工事が必要な場合、外構工事を進めます。
            </h2>
        </div>

        <div class="orderstep">
            <div class="step-left">
                <h1>step15</h1>
                <p>工事完了・お引渡し・融資実行</p>
            </div>
            <h2>
                マスターキーをお渡しし、お引渡しとなります。各種保証書の発行と融資の実行を行います。
            </h2>
        </div>
    </div>

    <div class="tocontact_text">
        <p>
            新築住宅・リノベーションのご相談・ご依頼は、お問い合わせフォームよりお願いいたします。
        </p>
    </div>

    <div class="tocontact_button">
        <button onclick="location.href='contact.html'">TO CONTACT PAGE</button>
    </div>
    <hr />
</BaseLayout>

<style>
    /*orderflow*/
    .orderflow {
        background: url(images/concepthouse_page/concepthouse1.webp) no-repeat
            center center;
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }

    .order_content {
        margin: 10% 15% 0 15%;
    }

    .orderstep {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        margin-bottom: 10%;
    }

    .orderstep h2 {
        font-size: 18px;
        font-weight: 300;
        margin-top: 23px;
    }

    .step-left h1 {
        font-size: 18px;
        text-align: left;
        font-weight: 300;
        margin-bottom: 5px;
    }
    .step-left p {
        font-size: 20px;
        font-weight: 500;
        text-align: left;
    }

    .tocontact_text {
        display: flex;
        justify-content: center;
        font-size: 20px;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 7%;
    }

    .tocontact_button {
        display: flex;
        justify-content: center;
        font-size: 20px;
        margin-bottom: 7%;
    }

    .tocontact_button button {
        border: 1px solid #000000;
        color: rgb(0, 0, 0);
        padding: 30px 100px;
        transition: 0.5s ease;
    }

    .tocontact_button button:hover {
        color: #ffffff;
        background-color: #000000;
    }
</style>

<script src="/js/fadein.js" defer></script>
