---
import Article from "../../layouts/BlogArticleLayout.astro";
---

<Article title="まずは解体からです。" date="2024.9.20" img="article02/01.webp">
    <p>
        まずは何事も壊すことから始まります。
        <br />
        破壊なくして創造なし。
        <br />
        とにかく現状の解体工事からです。
    </p>
</Article>
