---

---

<footer class="footer">
	<a href="/" class="footer_logo"> Life In Suburb </a>

	<table class="footer_navi">
		<tbody>
			<tr>
				<td><a href="/concept/">CONCEPT</a></td>
				<td><a href="/orderflow/">ORDER FLOW</a></td>

				<td><a href="/contact/">CONTACT</a></td>
			</tr>
			<tr>
				<td><a href="/concepthouse/">CONCEPT HOUSE</a></td>
				<td><a href="/blog"></a>BLOG</td></tr
			>
			<td
				><a href="#"
					><img
						class="youtu"
						src="/images/icons/youtube_full.webp"
						alt="youtu"
					/></a
				></td
			>
		</tbody>
		<tr>
			<td><a href="/works/">WORKS</a></td>
			<td><a href="/about/">ABOUT</a></td>
			<td
				><a href="https://www.instagram.com/lifeinsuburb.new/"
					><img
						class="insta"
						src="/images/icons/instagram_full.webp"
						alt="insta"
					/></a
				></td
			>
		</tr>
	</table>
</footer>

<style>
	/* Footer */
	.footer {
		display: grid;
		width: 100%;
		grid-template-columns: 1fr 1fr;
		font-size: 16px;
		padding: 5% 0% 10%;
	}

	.footer_logo {
		color: #000000;
		text-decoration: none;
		font-weight: bold;
		font-size: 25px;
		padding-left: 10%;
	}
	.footer_navi {
		width: 100%;
	}
	.footer_navi a {
		color: #000000;
		text-decoration: none;
	}

	.footer_navi tr {
		text-align: left;
	}

	.footer_navi td {
		padding-bottom: 20px;
		font-weight: bold;
	}

	.youtu {
		width: 80px;
	}

	.insta {
		width: 100px;
	}

	@media (max-width: 799px) {
		.footer {
			display: grid;
			width: 100%;
			grid-template-columns: 1fr;
			font-size: 15px;
			font-weight: 300;
			padding: 5% 5% 10%;
		}
		.footer_logo {
			font-size: 25px;
			padding-left: 0;
			margin: 0 0 30px;
		}
		.youtu {
			width: 70px;
		}

		.insta {
			width: 90px;
		}
	}
</style>
