---

---

<!-- Header -->
<header class="page-header index-fadein">
	<h1><a href="/index.html">Life In Suburb</a></h1>

	<ul class="header_items_list">
		<li>
			<a href="https://www.youtube.com/">
				<img
					class="header_items youtube"
					src="images/icons/youtube.png"
					alt="youtube"
				/>
			</a>
		</li>
		<li>
			<a
				href="https://www.instagram.com/_shinmura_?igsh=enFoZ3FzNG9zYXhq"
			>
				<img
					class="header_items instagram"
					src="/images/icons/instagram.png"
					alt="instagram"
				/>
			</a>
		</li>
		<li><a href="contact" class="header_items">CONTACT</a></li>
		<li>
			<div class="btn-trigger" id="btn07">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</li>
	</ul>
</header>

<div class="menu-panel">
	<ul>
		<li><a href="/concept">CONCEPT</a></li>
		<li><a href="/concepthouse">CONCEPT HOUSE</a></li>
		<li><a href="/works">WORKS</a></li>
		<li><a href="/orderflow">ORDER FLOW</a></li>
		<li><a href="/blog">BLOG</a></li>
		<li><a href="/about">ABOUT</a></li>
		<li><a href="/contact">CONTACT</a></li>
	</ul>
</div>

<style>
	/* Header */
	.page-header {
		position: fixed;
		height: 60px;
		width: 100%;
		background: rgba(255, 253, 253, 0.7);
		padding: 0 3%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		z-index: 1000;
		border-bottom: 2px solid #575555;
		white-space: nowrap;
	}

	.header_items_list {
		display: flex;
		align-items: center;
		list-style: none;
	}
	.header_items_list li {
		margin-right: 20px;

		align-items: center;
		justify-content: center;
	}
	.header_items {
		display: flex;
	}
	.youtube {
		width: 2rem;
	}

	.instagram {
		width: 1.5rem;
	}

	/* Menu Panel */
	.menu-panel {
		position: fixed;
		top: 60px;
		right: 0;
		z-index: 10;
		width: 30vw;
		text-align: center;
		background-color: rgba(255, 253, 253, 0.7);
		transform: translateY(-150%);
		transition: transform 0.5s ease-in-out;
	}

	.menu-panel ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	.btn-trigger {
		position: relative;
		width: 30px;
		height: 43px;
		cursor: pointer;
	}
	.btn-trigger span {
		position: absolute;
		left: 0;
		width: 100%;
		height: 3px;
		background-color: black;
		border-radius: 4px;
	}
	.btn-trigger,
	.btn-trigger span {
		display: inline-block;
		transition: all 0.3s;
		box-sizing: border-box;
	}
	.btn-trigger span:nth-of-type(1) {
		top: 10px;
	}
	.btn-trigger span:nth-of-type(2) {
		top: 20px;
	}
	.btn-trigger span:nth-of-type(3) {
		bottom: 10px;
	}

	#btn07 span:nth-of-type(1) {
		-webkit-animation: btn07-bar01 0.5s forwards;
		animation: btn07-bar01 0.5s forwards;
	}
	@-webkit-keyframes btn07-bar01 {
		0% {
			-webkit-transform: translateY(10px) rotate(45deg);
		}
		50% {
			-webkit-transform: translateY(10px) rotate(0);
		}
		100% {
			-webkit-transform: translateY(0) rotate(0);
		}
	}
	@keyframes btn07-bar01 {
		0% {
			transform: translateY(10px) rotate(45deg);
		}
		50% {
			transform: translateY(10px) rotate(0);
		}
		100% {
			transform: translateY(0) rotate(0);
		}
	}
	#btn07 span:nth-of-type(2) {
		transition: all 0.25s 0.25s;
		opacity: 1;
	}
	#btn07 span:nth-of-type(3) {
		-webkit-animation: btn07-bar03 0.5s forwards;
		animation: btn07-bar03 0.5s forwards;
	}
	@-webkit-keyframes btn07-bar03 {
		0% {
			-webkit-transform: translateY(-10px) rotate(-45deg);
		}
		50% {
			-webkit-transform: translateY(-10px) rotate(0);
		}
		100% {
			-webkit-transform: translateY(0) rotate(0);
		}
	}
	@keyframes btn07-bar03 {
		0% {
			transform: translateY(-10px) rotate(-45deg);
		}
		50% {
			transform: translateY(-10px) rotate(0);
		}
		100% {
			transform: translateY(0) rotate(0);
		}
	}
	#btn07.active span:nth-of-type(1) {
		-webkit-animation: active-btn07-bar01 0.5s forwards;
		animation: active-btn07-bar01 0.5s forwards;
	}
	@-webkit-keyframes active-btn07-bar01 {
		0% {
			-webkit-transform: translateY(0) rotate(0);
		}
		50% {
			-webkit-transform: translateY(10px) rotate(0);
		}
		100% {
			-webkit-transform: translateY(10px) rotate(45deg);
		}
	}
	@keyframes active-btn07-bar01 {
		0% {
			transform: translateY(0) rotate(0);
		}
		50% {
			transform: translateY(10px) rotate(0);
		}
		100% {
			transform: translateY(10px) rotate(45deg);
		}
	}
	#btn07.active span:nth-of-type(2) {
		opacity: 0;
	}
	#btn07.active span:nth-of-type(3) {
		-webkit-animation: active-btn07-bar03 0.5s forwards;
		animation: active-btn07-bar03 0.5s forwards;
	}
	@-webkit-keyframes active-btn07-bar03 {
		0% {
			-webkit-transform: translateY(0) rotate(0);
		}
		50% {
			-webkit-transform: translateY(-10px) rotate(0);
		}
		100% {
			-webkit-transform: translateY(-10px) rotate(-45deg);
		}
	}
	@keyframes active-btn07-bar03 {
		0% {
			transform: translateY(0) rotate(0);
		}
		50% {
			transform: translateY(-10px) rotate(0);
		}
		100% {
			transform: translateY(-10px) rotate(-45deg);
		}
	}

	.menu-panel li {
		opacity: 1;
		transition: 0.5s ease-in-out;
	}

	.menu-panel a {
		text-decoration: none; /* デフォルトのアンダーラインを削除 */
		display: block;
		padding: 1rem;
		position: relative; /* 擬似要素を制御するために相対位置を設定 */
		border-bottom: 1.5px solid rgba(255, 253, 253, 0); /* 初期状態で透明 */
	}

	.menu-panel a::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0; /* アンダーラインを下端に配置 */
		width: 100%;
		height: 2px; /* アンダーラインの太さ */
		background-color: rgba(0, 0, 0, 0); /* 初期状態で透明 */
		transform: scaleX(0); /* 横幅を0に設定 */
		transform-origin: left; /* 左端からアニメーション開始 */
		transition: transform 0.7s ease;
	}

	.menu-panel a:hover::after {
		transform: scaleX(1); /* 横幅を100%に拡大 */
		background-color: #000000; /* アンダーラインの色 */
	}
</style>
<script src="/js/header.js" defer></script>
