<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
        name="google-site-verification"
        content="DcR156sC2N01TDOigngDyM-HoyHFmcR0xTbMaEBsWvM"
    />
    <meta property="og:title" content="Life In Suburb" />
    <meta property="og:description" content="Life In Suburb" />
    <meta property="og:image" content="/images/index_page/slides/slide1.webp" />
    <meta property="og:type" content="website" />
    <title>Life In Suburb</title>
    <meta name="description" content="Life In Suburb" />

    <!-- CSS -->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" />
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&family=Noto+Sans+JP:wght@300;500&display=swap"
        rel="stylesheet"
    />
    <link href="/styles/global.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/global.css" />
</head>
