---
import Loading from "../components/Loading.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Life In Suburb</title>
        <meta name="description" content="Life In Suburb" />

        <!-- CSS -->
        <link
            rel="stylesheet"
            href="https://unpkg.com/ress/dist/ress.min.css"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&family=Noto+Sans+JP:wght@300;500&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/styles/global.css" />
    </head>

    <body>
        <Loading />
        <Header />
        <main>
            <slot />
        </main>
        <Footer />
    </body>
</html>
