---
import Loading from "../components/Loading.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
    <Head />

    <body>
        <Loading />
        <Header />
        <main>
            <div class="article">
                <div class="article_title">
                    <h2>{frontmatter.date}</h2>
                    <h1>{frontmatter.title}</h1>
                </div>
                <div class="mainimg">
                    <img
                        alt="メイン"
                        loading="lazy"
                        src={frontmatter.image}
                    />
                </div>

                <slot />
            </div>
            <hr />
        </main>
        <Footer />
    </body>
</html>

<style>
    .article {
        margin: 80px 13% 10% 13%;
    }
    .mainimg {
        margin: 7% 0% 5% 0%;
    }
    .article_title h1 {
        text-align: left;
        font-size: 25px;
    }
    .article_title h2 {
        text-align: left;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 10px;
    }

    .article_img {
        margin: 5% 0% 5% 0%;
    }
    .
</style>
